<section class="section">
  <%= form_with url: login_path, scope: :session, local: true do |form|%>
    <div class="has-background-link">
      <div class="container ">
        <div class="card">
          <div class="has-background-link">
            <div class="field">
              <%= form.label :email, class: "button is-primary is-rounded"%>
              <div class="control">
                <%= form.email_field :email, class: "input is-primary is-rounded", type: "text" %>
              </div>
            </div>
            <div class="field">
              <%= form.label :password, class: "button is-primary is-rounded"%>
              <div class="control">
                <%= form.password_field :password, class: "input is-primary is-rounded", type: "text"%>
              </div>
            </div>
            <div class="field">
              <%= form.label :password_confirmation, class: "button is-primary is-rounded"%>
              <div class="control">
                <%= form.password_field :password_confirmation, class: "input is-primary is-rounded", type: "text"%>
              </div>
            </div>
            <footer class="card-footer">
              <p>
                <%= form.submit "Log in", class: "button is-primary is-rounded" %>
                <%= link_to 'Back', root_path, class: "button is-primary is-light is-rounded" %>
              </p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
