<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <article class="media">
        <div class="media-content">
           <%= form_with model: Comment, local: true do |form|%>
            <div class="card">
              <div class="field">
                <div class="control">
                  <%= form.label :comment %>
                  <%= form.text_area :body, class: "input", type: "textarea" %>
                </div>
              </div>
              <footer class="card-footer">
                <p>
                  <%= form.submit 'Leave Comment', class: "button is-primary is-light" %>
                  <%= link_to 'Back', root_path, class: "button is-primary is-light" %>
                </p>
              </footer>
            </div>
          <% end %>
        </div>
      </article>
    </div>
  </div>
</div>